body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 220px;
}

h1 {
    color: black;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

/* CONNEXION ET INSCRIPTION */

.logo-sm {
    width: 380px;
}

.form-ci {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    margin-left: -220px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form button,
form a {
    margin-bottom: 10px;
}

form input {
    width: 450px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px rgb(196, 196, 196) solid;
    text-indent: 10px;
}

form input::placeholder {
    text-indent: 10px;
    color: rgb(140, 140, 140);
    font-weight: 100;
}

form input:focus {
    text-indent: 10px;
}

form button {
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, rgba(35, 95, 255, 1) 0%, rgba(45, 161, 245, 1) 100%);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border: 0;
    margin-top: 20px;
}

form button:hover {
    transform: scale(0.97);
    cursor: pointer;
}

.form-ci a {
    color: rgba(35, 95, 255, 1);
}

.form-ci a:hover {
    color: rgb(30, 74, 195);
}

/* HEADER BACK */

.barre-haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(35, 95, 255, 1) 0%, rgba(45, 161, 245, 1) 100%);
    padding: 10px;
    margin-left: -220px;
}

.barre-haut img {
    width: 120px;
}

.btn-deconnexion {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.btn-deconnexion img {
    width: 30px;
    height: 30px;
}

.contenu-page {
    display: flex;
}

.menu-lateral {
    width: 200px;
    height: 100vh;
    background-color: #f2f2f2;
    position: fixed;
    top: 50px;
    left: 0;
}

.menu-lateral nav {
    padding: 0px;
}

.menu-lateral a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px 0 20px 15px;
    border-bottom: 1px black solid;
}

.menu-lateral a:hover {
    background-color: rgba(35, 95, 255);
    color: white
}

/* PRODUIT */

th,
td {
    padding-right: 20px;
    /* Ajustez l'espacement selon vos besoins */
}